body {
    margin: 0;
    background-color: white;
    padding: 0;
    padding: 0 100px;
  }
  .header-container {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 6%; */
  }
  .header {
    background-color: #efefef;
    height: 103px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 0 80px;
  }
  .logo {
    height: 100%;
    flex: 1;
  }
  .tabs-container {
    display: flex;
    flex: 9;
    justify-content: flex-end;
  }
  .tabs {
    display: flex;
    gap: 62px;
  }
  
  .tabs > div {
    color: black;
    font-family: "Heebo";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
  }
  
  .home-container {
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  } 
  .home {
    background-color: #efefef;
    width: 83%; 
    height: 1080px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

  
  .home-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-left-top {
    display: flex;
    flex: 1;
    width: 100%;
}
 .home-left-bottom{
  display: flex;
  /* display: contents; */
  flex-direction: column;
  gap: 55px;
  padding: 99px;
  flex: .6;
}
 }.home-left-bottom1{
  display: flex;
    justify-content: center;
}
 }
 .home-left-bottom12{
  display: flex;
  justify-content: center;
 }
 .text1 {
  display: flex;
  font-family: 'Heebo';
  /* font-style: normal; */
  font-weight: 100;
  font-size: 24px;
  line-height: 35px;
  flex-direction: column;
}

.text1 h1 {
  font-family: 'Heebo';
  /* font-style: normal; */
  font-weight: 700;
  font-size: 55px;
  line-height: 70px;
  /* font-weight: bold; */
}


.home-left-bottom-1-text {
  width: 624px;
  height: 204;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-left-bottom-2 {
  display: flex;
}

.home-left-bottom-1 {
  display: flex;
  /* padding: 160px; */
}


 .icons-container {
  display: flex;
}
 .icons {
  display: flex;
  gap: 40px;
}
.home-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-right-image {
  width: 560px;
height: 733px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-right-image img {
  width: 100%;
  height: 100%;
}

.project-container {
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden
}

.project {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-top {
  display: flex;
  flex-direction: column;
  width: 463px;
  height: 127px;
  flex: 1;
}
.left {
  display: flex;
  flex-direction: column;
  width: 634px;
}

.my {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 900;
  font-size: 85px;
  line-height: 125px;
  /* margin: 162; */
}
.works {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 46px;
}
.img1 {
  width: 626px;
  height: 310px;
}

.img1 img {
  width: 100%;
  height: 100%;
}
sa-container {
  display: flex;
  gap: 12px;
  width: 100%;
}

.img2 {
  width: 626px;
  height: 310px;
}

.img2 img {
  width: 100%;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
}


.petz {
  margin-top: 14px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
}
.petz2 {
  margin-top: 0;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}
.submit-container {
  gap: 12px;
  width: 100%;
  display: flex;
}
.submit1 input[type="submit"]{
  width: 100%;
  height: 100%;
  font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 35px;

}
.submit1 {
  width: 303;
  height: 52px;
}

.submit2 input[type="submit"]{
  width: 100%;
  height: 100%;
  font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;

}

.submit2 {
  width: 303;
  height: 52px;
}

.img2 img {
  width: 100%;
  height: 100%;
  margin-top: 87px;
}
.right-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 167px;
}

.img3 {
  width: 626px;
  height: 310;
}

.img3 img {
  width: 100%;
  height: 100%;
}
.petz4 {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  margin-top: 14px;
}
.petz3 {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.submit-container2 {
  gap: 12px;
  width: 100%;
  display: flex;
}

.submit3 input[type="submit"] {
  width: 100%;
  height: 100%;
  font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 35px;

}
.submit3  {
  width: 303px;
  height: 52px;
} 
.submit4 {
    width: 303px;
    height: 52px;
}
.submit4  input[type="submit"]{
  width: 100%;
  height: 100%;
  font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;

}
.img4 {
  width: 626px;
  height: 310px;
}

.img4 img {width: 100%;height: 100%;margin-top: 87px;}

.about-container {
  width: 1920px;
  height: 1740px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 58px;
}
.about {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #efefef;
  justify-content: space-around;
}
.about-left-top {
  width: 463px;
  height: 127px;
  margin-top: 62px;
}
.parahgraf {
  width: 788px;
  height: 752px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  margin-top: 53px;
}
.aboutme {
  width: 463px;
  height: 127px;
  /* left: 162px; */
  /* top: 62px; */
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 900;
  font-size: 85px;
  line-height: 125px;
}
.myself {
  width: 463px;
  height: 50px;
  left: 164px;
  top: 189px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 46px;
}
.about-left-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 53px;
}
.tools {
  width: 463px;
  height: 46px;
  left: 164px;
  top: 1097px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 46px;
}
.tools-container {
  display: flex;
  gap: 151px;
}
.Creative {
  width: 170px;
  height: 35px;
  
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  margin-top: 34px;
}

.development {
  width: 170px;
  height: 35px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  margin-top: 34px;
}
.tabels {
  display: flex;
  margin-top: 13px;
}
.column1 {
  /* position: absolute; */
  width: 292px;
  height: 412px;
  /* left: 169px; */
  /* top: 1225px; */
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
/* or 200% */
}

.column2 {
  /* position: absolute; */
  width: 137px;
  height: 412px;
  /* left: 490px; */
  /* top: 1225px; */
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
/* or 200% */
  margin-left: 29px;
}

.column3 {
  width: 137px;
  height: 412px;
  /* left: 647px; */
  /* top: 1225px; */
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
/* or 200% */
  margin-left: 20px;
}

.column4 {
  width: 212px;
  height: 412px;
  left: 813px;
  top: 1225px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
/* or 200% */
  margin-left: 29px;
}
.about-right {
  display: flex;
  flex-direction: column;
}
.center {
  width: 626px;
  height: 680px;
  margin-top: 250px;
}

.center img {
    width: 100%;
    height: 100%;
}

.par {
    width: 626px;
    height: 324px;
    margin-top: 115px;
    /* left: 1132px; */
    /* top: 1087px; */
  }

  .–.Mark.Twain {
    display: flex;
    justify-content: end;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
   
}
.right-bottom2 {
  display: flex;
  flex-direction: column;
  margin-top: 50;
}

.contact-container {
  width: 1920px;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 78px;


}
.contact {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #efefef;
}
.contact-left {
  display: flex;
  /* margin-left: 162px; */
  flex-direction: column;
}
.contact-text {
  width: 463px;
  height: 127px;
  /* left: 162px; */
  /* margin-left: 162px; */
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 900;
  font-size: 85px;
  line-height: 125px;
  margin-top: 62px;
}
.text {
  width: 1157px;
  height: 50px;
  /* left: 164px; */
  /* top: 189px; */
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 46px;
}
.name {
  width: 64px;
  height: 35px;
  /* left: 164px; */
  /* top: 293px; */
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  margin-top: 89px;
}
.name1 {
  width: 787px;
  height: 48px;
}
.name input[type="text"] {
  width: 787px;
  height: 48px;
}
.Email {
  width: 60px;
  height: 35px;
  /* left: 164px; */
  /* top: 399px; */
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  margin-top: 50px;
}
.subject {
  width: 82px;
  height: 35px;
  /* left: 164px; */
  /* top: 505px; */
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  margin-top: 50px;
}
.message {
  width: 82px;
  height: 35px;
  /* left: 164px; */
  /* top: 505px; */
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  margin-top: 50px;
}
input[type="email"] {
  width: 787px;
  height: 48px;
}

input[type="text1"] {
  width: 787px;
  height: 221px;
}

.send {
  width: 160px;
  height: 35px;
}
input[type="text"] {
  width: 787px;
  height: 48px;
}
.contact-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.send input[type="submit"] {
  width: 100%;
  height: 100%;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  margin-top: 250px;
  /* display: flex; */
  margin-left: 628;
}
.footer-container {
  width: 1920px;
  height: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.footer {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icons2 {
  display: flex;
  gap: 40px;
}

.footer-text {
  width: 100%;
  height: 100%;
  /* left: 162px; */
  /* top: 92px; */
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #EFEFEF;
}
